.kichThuoc {
  /* Xét width và height */
  width: 200px;
  height: 50px;
  background-color: bisque;
  /* Căn giữa theo chiều cao */
  line-height: 50px;
  /* margin để căn cho khối màu bisque ra giữa */
  margin-left: 680px;
}

h1,
p {
  /* Căn giữa theo chiều ngang */
  text-align: center;
}

.content {
  /* margin để căn cho khối content ra giữa */
  margin-left: 620px;
}

.button {
  color: #fff;
  background-color: black;
  padding: 20px 40px;
  text-align: center;
}

.button1 {
  margin-right: 20px;
}
