* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  /* grid-template-columns: calc(33.33% - 30px) calc(33.33% - 30px) 33.33%; */
  /* grid-template-columns: 1fr 3fr 2fr; */
  /* grid-template-columns: 200px 3fr 2fr; */
  /* grid-template-columns: 1fr 2fr 1fr 1fr 3fr; */
  /* grid-template-columns: 2fr repeat(3, 1fr); */
  /* grid-template-columns: repeat(3, 1fr); */

  /* grid-template-rows: 50px 100px 50px; */
  /* grid-row-gap: 30px;
  grid-column-gap: 20px; */
  /* grid-gap: 30px 20px; */
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding: 20px;
}

.grid-item {
  background-color: red;
  /* min-height: 60px; */
  /* height: 60px; */
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
}

.box-1 {
  grid-column: 1 / 16;
  grid-row: 1 / 2;
  background-color: #d5e8d4;
}
.box-2 {
  grid-column: 1 / 10;
  grid-row: 2 / 6;
  background-color: #fff2cc;
}
.box-3 {
  grid-column: 10 / 14;
  grid-row: 2 / 3;
  background-color: #dae8fc;
}
.box-4 {
  grid-column: 14 / 16;
  grid-row: 2 / 4;
  background-color: #ffe6cc;
}
.box-5 {
  grid-column: 10 / 12;
  grid-row: 3 / 6;
  background-color: #f5f5f5;
}
.box-6 {
  grid-column: 12 / 14;
  grid-row: 3 / 6;
  background-color: #d5e8d4;
}
.box-7 {
  grid-column: 1 / 8;
  grid-row: 6 / 7;
  background-color: #dae8fc;
}
.box-8 {
  grid-column: 1 / 8;
  grid-row: 7 / 9;
  background-color: #e1d5d7;
}
.box-9 {
  grid-column: 8 / 14;
  grid-row: 6 / 8;
  background-color: #d5e8d4;
}
.box-10 {
  grid-column: 8 / 14;
  grid-row: 8 / 9;
  background-color: #fff2cc;
}
.box-11 {
  grid-column: 14 / 16;
  grid-row: 4 / 9;
  background-color: #e1d5d7;
}
.box-12 {
  grid-column: 1 / 16;
  grid-row: 9 / 10;
  background-color: #f8cecc;
}
